body {
  text-align: center;
}

#gameCanvas {
  background-color: rgb(255, 213, 179);
  border-color: brown;
  border-width: thick;
  border-style: ridge;
}

h1 {
  font-size: 600%;
  color: rgb(0, 0, 0);
  /*font-family: georgia, garamond, sans-serif;*/
  /*font-family: url("./fonts/TitleFont.otf");*/
  font-family: Copperplate, Papyrus, fantasy;
}

#menuContainer {
  background-image: url("./images/home.jpg");
  background-size: cover;
  height: 100%;
  margin-top: none;
  padding: none;
  top: 0;
  left: 0;
}

.menuButton {
  background-color: pink;
  color: black;
  border: 3px solid rgb(97, 76, 175);
  padding: 32px 64px;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Copperplate, Papyrus, fantasy;
  font-size: 30px;
  transition-duration: 0.5s;

  /*width: 400px;
  height: 100px;*/

  margin: 1%;
}

.menuButton:hover {
  transition-duration: 0.5s;
  background-color: rgb(92, 153, 211); 
  color: white;
}

#gameContainer {
  height: 100%;
  width: 100%;
  background-image: url("./images/playingBackground.webp");
  background-size: cover;
  text-align: center;
}

#startHeading {
  padding-top: 3%;
  margin-bottom: 50px;
}

#intro {
  color: white;
  margin-top: 100px;
}

#bottomBar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#bottomBar a {
  color: #f2f2f2;
  text-align: center;
  padding: 18px 18px;
  font-size: 20px;
  font-family: Copperplate, Papyrus, fantasy;
  

  margin-top: 5%;
  margin-bottom: 5%;
  
}

.gameOptionButton {
  background-color: pink;
  color: black;
  border: 3px solid rgb(97, 76, 175);
  padding: 16px 32px;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Copperplate, Papyrus, fantasy;
  font-size: 20px;
  transition-duration: 0.5s;

  margin: 20px;

  vertical-align: top;
  margin-left: 0;
}

.gameOptionButton:hover {
  transition-duration: 0.5s;
  background-color: rgb(92, 153, 211); 
  color: white;
}

#stats {
  position: fixed;
}

#stats h2 {
  text-align: center;
  font-family: Copperplate, Papyrus, fantasy;
  display: block;
  padding: 20px 32px;
  text-decoration: none;
  font-size: 50px;

  margin-left: 5px;
  margin-right: 20px;
}

#stats h3 {
  text-align: center;
  font-family: Copperplate, Papyrus, fantasy;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 28px;
}

#controlPanel {
  position:fixed;
  right: 30px;
  bottom: 80px;
  /*
  vertical-align: top;
  float:right;
  margin-left: 0;
  */
}

#controlPanel h3 {
  font-family: Copperplate, Papyrus, fantasy;
}

/*
#covinfo {
  background-color: pink;
  color: black #000000;
  border: 3px solid rgb(97, 76, 175);
  padding: 16px 32px;
  border-radius: 50px;
  width: 18%;
  vertical-align: center;
  text-align: center;
  line-height: center;
  align-self: center;
  box-align: center;
  font-family: Copperplate, Papyrus, fantasy, Papyrus, fantasy;
  text-decoration: none;
}
*/

#rules {
 font-family: Copperplate, Papyrus, fantasy;
 font-size: 30px;
 background-image: url("./images/playingBackground.webp");
}

#splashScreen img{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#gameMenu{
  position: absolute;
  right: 20px;
  top: 20px;
}

.infoLink{
  padding: 40px;
  background-color: pink;
  border-radius: 100px;
  border-width: medium;
  border-color: rgb(97, 76, 175);
  border-style: solid;
  color: black;
  text-decoration: none;
  transition-duration: 0.5s;

  font-family: Copperplate, Papyrus, fantasy;
  font-size: 150%;
}

.infoLink:hover{
  background-color: lightblue;

  transition-duration: 0.5s;
}

#rules{
  background-image: url("./images/playingBackground.webp");
  background-size: cover;

  height: 100%;
}

#backButton{
  margin-bottom: 40px;
}

#rules h1{
  font-size: 100px;
}

#backButton{
  padding: 10px;
  border-radius: 50px;
  background-color: lightblue;
}

#worldChoiceScreen{
  position: fixed;
  margin: auto;
  width: 500px;
  height: 500px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: aqua;
  border-radius: 75px;
  border-width: thick;
  border-color: blue;
  border-style: solid;
  transition-duration: 0.5s;
}

.worldChoiceButton{
  background-color: pink;
  border-color: black;
  border-width: medium;
  border-radius: 100px;
  padding: 30px;
  margin: 20px;
  width: 150px;
  height: 75px;

  vertical-align: middle;
  transition-duration: 0.4s;
}

.worldChoiceButton:hover{
  background-color: palevioletred;

  vertical-align: middle;
  transition-duration: 0.4s;
}